
.headerclass {
	color: cadetblue;
	font-size: 60px;
}
.logo {
	margin-left:48%;
	margin-right:auto;
	width: 8%;
	}
#font{
	font-family: 'Trebuchet MS', sans-serif
}
.bgcolor {
  background-color: #1B35A5 ;
}
ul {
  list-style-type: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #1B35A5;
}
.active {
  color: #1B35A5;
}

button {
	 float: right;
	 display:inline-block;
}
.otherbuttons {
  border: 2px solid #1B35A5;
  color: Black;
  padding: 10px 14px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.loginbutton {
  border: 2px solid #1B35A5;
  color: Black;
  padding: 10px 14px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.otherbuttons:hover {
  background-color: #1B35A5;
  color: white;
}
.loginbutton:hover {
  background-color: #1B35A5;
  color: white;
}
.active, .btn:hover {
  background-color: #1B35A5;
  color: white;
}

