.Grace {
	font-size: 60px;
}
header.Belle {
	font-style: italic;
	color: red;
	}
img.logo {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 10%;
	
}
#skrskr {
	font-style: italic;
}
