<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="mystyle.css">
    <body>
        <!logo>
        <img class = "logo" src="Mathleticslogo.jpg" alt="Mathletics Logo">
        <br>
        <br>
        <br>
        <div> 
            <title> Mathletics </title>
            <header class="Grace" style = "margin-left:35%;margin-right:auto;width: 50%;"> Mathletics Class Website </header>
        </div>
<!main nav>
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Course Catalog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            <ul class="nav justify-content-center">
<!accounts buttons>
    <button type="button" class="btn btn-primary btn-lg">Become a Teacher</button>
    <button type="button" class="btn btn-outline-primary">Student Sign Up</button>
    <button type="button" class="btn btn-outline-primary">Login</button>

        </div>
    </head>
    </body>
