<!DOCTYPE html>
<html lang="en">
    <header class="fixed-top">
        <div class="container d-flex align-items-center">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="mystyle.css">
        <!logo>
        <img class = "logo" src="Mathleticslogo.jpg" alt="Mathletics Logo">
        <title> Mathletics </title>
        <br>
        <br>
<!accounts buttons>
        <button type="button" class="loginbutton">Login</button>
        <button type="button" class="otherbuttons">Become a Teacher</button>
        <button type="button" class="otherbuttons">Become a Student</button>
    <!main nav>
            <ul id="font">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">Course Catalog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact_us.html">Contact Us</a>
                </li>
            </ul>
    </div>
    </header>
    <body>
        
    </body>
<!class="nav-item">
<!class="nav-link">